

@{
    ViewBag.Title = "You Are Successfully Registered";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        @Html.ActionLink("Manage Role", "Index", "Role")
    </h3>
}
else
{
<h2> Hello <strong>@ViewBag.Name</strong> :), You have been successfully registered to The firewalls Cinema<br /></h2><br />
          <h2> Click here and Enjoy Our Services --->@Html.ActionLink("Continue", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h2>
}
